/* main-content page-content alert */
.main-container .close-icon{
	float: right;
	margin-top: 4px;
}
.main-container .alert-success > span{
	font-size: 14px;
	margin-left: .5em;
}


/* main-content page-content alert */
.main-container .container .ibox{
	border: solid 1px #EEEEEE;
	border-top: solid 4px #438eb9;
}


/* main-content page-content ibox */
.main-container .container .ibox .ibox-title{
	padding: 1em;
	border-bottom: solid 1px #EEEEEE;
	font-size: 16px;
	font-weight: bold;
	color: #666666;
}
.main-container .container .ibox .ibox-content{
	padding: 10px;
	color: #888888;
	font-size: 14px;
	line-height: 24px;
}
.main-container .container .ibox .ibox-content p{
	text-indent: 2em;
}
.main-container .container .ibox .ibox-content li{
	padding-left: 2em;
}
/* main-content page-content ibox 版本更新部分*/
.main-container .container .ibox .ibox-content .ibox-veision{
	background-color: #f5f5f5;
	height: 40px;
	line-height: 40px;
	border-radius: .5em;
	border: solid 1px #DDDDDD;
	color: #333333;
	font-size: 14px;
}

