/* --------reset-------- */
*{
	box-sizing:border-box;/*设置box属性*/
	/*content-box表示padding和border不被包含在定义的width和height之内，对象的实际宽度等于width+border+padding*/
	/*border-box表示padding和border包含在定义的width和height之内，对象的实际宽度等于width，即使定义有border和padding也不会改变对象的实际宽度*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	
	outline:none;/*边框*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);/*点击背景高亮，颜色设置为透明*/
	tap-highlight-color:rgba(0,0,0,0);
	word-break:break-all;/*在恰当的断字点进行换行，normal：使用浏览器默认的换行规则，break-all允许在单词内换行，keep-all只能在半角空格或连字符处换行*/
}
html{
	zoom: expression(function(ele){ 
		ele.style.zoom="1";
		document.execCommand("BackgroundImageCache", false, true);
	}(this));
}/*ie6,鼠标放上去背景(切换)图片不闪烁*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,button,p,blockquote,th,td,a{
	margin:0; 
	padding:0;
}
/*pre：可定义预格式化的文本。被包围在 pre 元素中的文本通常会保留空格和换行符。而文本也会呈现为等宽字体。常用来表示计算机的源代码。*/
/*fieldset：组合表格中的相关元素，<legend>标签为标签*/
/*blockquote：定义摘自另一个源的块引用。标签之间的所有文本都会从常规文本中分离出来，经常会在左、右两边进行缩进，而且有时会使用斜体*/
table{
	width:100%;
	border-collapse:collapse;/*表格设置合并边框*/
	border-spacing:0;/*设置相邻单元格的边框间的距离*/
}
input,select,textarea,button{
	font-size:100%;
	font-family:"Open Sans","Microsoft YaHei","STXihei","Monaco","Arial","sans-serif";
}
textarea{
	resize:none;/*规定是否可由用户调整元素的尺寸。none：无法调整元素尺寸，both：可调整元素的高度和宽度，horizontal：可调整元素的宽度，vertical：可调整元素的高度。*/
}
fieldset,img,abbr,acronym{
	border:0;
}
/*abbr：指示简称或缩写，比如“WWW”或“NATO”，可以加title属性，鼠标指针移动到元素上就会显示出title内容*/
/*acronym：定义首字母缩写。HTML5中不支持此标签*/
address,caption,cite,code,dfn,em,strong,th,var{
	font-style:normal;
	font-weight:400;
}
/*caption：定义表格标题*/
/*cite：通常表示它所包含的文本对某个参考文献的引用，比如书籍或者杂志的标题。*/
/*code：用于表示计算机源代码或者其他机器可以阅读的文本内容。*/
/*dfn：可标记那些对特殊术语或短语的定义。*/
/*var：表示变量的名称，或者由用户提供的值。经常与 <code> 和 <pre> 标签一起使用，用来显示计算机编程代码范例及类似方面的特定元素。用 <var> 标签标记的文本通常显示为斜体。*/
ol,ul{
	list-style:none;
}
h1,h2,h3,h4,h5,h6,legend{
	font-size:100%;
	font-weight:400;
}
:focus{
	outline:0;
}
ins{
	text-decoration:none;
}
/*ins：定义已经被插入文档中的文本。下划线*/
del{
	text-decoration:line-through;
}
blockquote,q{
	quotes:none;/*设置嵌套引用（embedded quotation）的引号类型。none：规定 "content" 属性的 "open-quote" 和 "close-quote" 的值不会产生任何引号。string string string string：前两个值规定第一级引用嵌套，后两个值规定下一级引号嵌套。inherit：从父元素继承 quotes 属性的值。*/
}
blockquote:before,blockquote:after,q:before,q:after{
	content:'';
	content:none;
}
/* --------base-------- */
body{font-family:"Open Sans","PingHei","Microsoft YaHei","STXihei","Monaco","Arial","sans-serif";}
.clearfix:after{content:"\20";display:block;height:0;clear:both;}
.clearfix{zoom:1;}
a{cursor:pointer;text-decoration:none;star:expression(onfocus=this.blur);}
a:hover{text-decoration: none;}
a:focus{ outline: 0;}
a,button{outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);}
button{border:0;background:none;cursor:pointer;}
.cb:after,.cb_li>li:after,.cb_a>a:after{content:"\20";display:block;width:0;height:0;clear:both;}
.cb,.cb_li>li,.cb_a>a{zoom:1;}
.mc{margin-left:auto;margin-right:auto;}
.taL{text-align:left;}
.taC{text-align:center;}
.taR{text-align:right;}
.textCut,.textCut_E>*,.textCut_EE *{width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;word-break:break-all;}
.fL,.fL_E>*{float:left;}
.fR,.fR_E>*{float:right;}
.tra,.tra_E>*,.tra_EE *{transition:.5s ease-in-out;}
.tra-fast,.tra-fast_E>*,.tra-fast_EE *{transition:.2s ease-in-out;}
.boxR,.boxR_E>*,.boxR_EE *{border-radius:5px;}
.vaT,.vaT_E>*,.vaT_EE *{vertical-align:top!important;}
.vaM,.vaM_E>*,.vaM_EE *{vertical-align:middle;}
.bs { box-shadow: 0 5px 40px rgba(0,0,0,.2);}