.formWizardBox{ border: solid 1px #e5e5e5; border-radius: .5em;}
	/* 向导图头部标题及切换按钮 */
	.formWizardBox .formWizardHeader{ padding: .5em; display: table; table-layout: fixed; width: 100%; border-bottom: solid 1px #e5e5e5; background-color: #F1F1F1; border-top-left-radius: .5em; border-top-right-radius: .5em;}
		.formWizardBox .formWizardHeader >*{ display: table-cell; vertical-align: middle;}
		.formWizardBox .formWizardHeader >.fwTitle{ font-size: 20px; padding-left: 1em; font-weight: normal; color: #666666;}
		.formWizardBox .formWizardHeader >.fwRadio{ width: 6em; text-align: right; padding-right: 1em; border-left: dashed 1px #CCCCCC;}
	
	/* 向导图主体内容 */	
	.formWizardBox .formWizardBody{}
		.formWizardBox .formWizardBody hr{ margin-left: .5em; margin-right: .5em;}
		/* 向导图步骤样式 */
		.formWizardBox .formWizardBody .formWizardStep{ padding: 1em 1em 0 1em;}
			.formWizardBox .formWizardStep .stepBox{ display: table; position: relative; width: 100%;}
				.formWizardBox .formWizardStep .stepBox > li{ display: table-cell; width: 1%; text-align: center;}					
					.formWizardBox .stepBox > li:before{ display: block; content: ""; width: 100%; height: 1px; font-size: 0; overflow: hidden; border-top: solid 4px #CCCCCC; position: relative; top: 21px; z-index: 1;}
					.formWizardBox .stepBox > li:first-child:before{ left: 50%; max-width: 51%;}
					.formWizardBox .stepBox > li:last-child:before{ width: 50%; max-width: 50%;}
					.formWizardBox .stepBox .step{ border: solid 5px #CCCCCC; color: #666666; background-color: white; font-size: 15px; border-radius: 100px; display: inline-block; width: 40px; height: 40px; line-height: 30px; text-align: center; position: relative; z-index: 2;}
					.formWizardBox .stepBox .stepTitle{ display: block; margin-top: 5px; max-width: 100%; text-align: center; font-size: 16px; table-layout: fixed; word-wrap: break-word;}
					/* step正在进行效果 */
					.formWizardBox .stepBox li.active > .step,
					.formWizardBox .stepBox li.active:before{ border-color: #478fca;}
					.formWizardBox .stepBox li.active > .stepTitle{ color: #478fca;}
					/* step完成效果 */
					.formWizardBox .stepBox li.complete > .step,
					.formWizardBox .stepBox li.complete:before{ border-color: #478fca;}
					.formWizardBox .stepBox li.complete > .stepTitle{ color: #478fca;}
					.formWizardBox .stepBox li.complete >.step:before{ font-family: FontAwesome; content: "\f00c"; display: block; font-size: 20px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; line-height: 30px; color: #478fca; background-color: white; border-radius: 100px;}
		/* 向导图内容样式 */
		/* warning&error */
		.errorBorder>input{ border-color: #d68273;}
		.errorBorder>input:focus{ border-color: #d68273; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(214, 130, 115, .6);	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(214, 130, 115, .6);}
		
		.successBorder>input{ border-color: #9cc573;}
		.successBorder>input:focus{ border-color: #9cc573; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(156, 197, 115, .6);	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(156, 197, 115, .6);}
		
		.warningBorder>input{ border-color: #d3bd50;}
		.warningBorder>input:focus{ border-color: #d3bd50; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(211, 189, 80, .6);	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(211, 189, 80, .6);}
		
		.formWizardMain{ padding: 0 1em;}
			.formWizardMain .stepPane{ display: none; min-height: 200px;}
			.formWizardMain .stepPane.active{ display: block;}
				.formWizardMain .stepPane .stepPaneTitle{ margin: 0 1em 1em 1em; font-size: 20px; color: #999999;}
				.formWizardMain .stepPane .errorBox,
				.formWizardMain .stepPane .successBox,
				.formWizardMain .stepPane .warningBox{ padding-top: 7px; margin-bottom: 0; color: #d68273;}
				.formWizardMain .stepPane .errorBox{ color: #d68273;}
				.formWizardMain .stepPane .successBox{ color: #9cc573;}
				.formWizardMain .stepPane .warningBox{ color: #d3bd50;}
		
				.formWizardMain .stepPane .stepPaneText{ font-size: 20px; text-align: center; margin-top: 2em;}
		
		
		/* 按钮 */
		.formWizardActions{ text-align: right; padding: 0 1em 1em 1em;} 
			.formWizardActions .formWizardBtn{ border: solid 1px #CCCCCC; display: inline-block; margin-right: 15px; padding: .8em; border-radius: .5em; background-color: #EEEEEE; color: #CCCCCC;}
				.formWizardActions .formWizardBtn>i{ font-size: 20px; line-height: 20px; vertical-align: middle; margin-top: -3px;}
				.formWizardActions .formWizardBtn>span{ font-size: 16px; line-height: 20px;}
				.formWizardActions .formWizardBtn.clickable{ background-color: #478fca; color: white; border-color: #478fca;}
